services:
  claude-code:
    build: .
    container_name: claude-code
    extra_hosts:
      - "host.docker.internal:host-gateway"
    user: ubuntu
    environment:
      - USER_ID=${UID:-1000}
      - GROUP_ID=${GID:-1000}

    volumes:
      # 現在のディレクトリをワークスペースとしてマウント
      - ${PWD}:${PWD}
      # 必要に応じて設定ファイルを個別に追加（例）
      # - ~/.gitconfig:/tmp/.gitconfig:ro
      - ~/.claude:/home/ubuntu/.claude
      - ~/.claude:/home/ubuntu/.config/claude
      - ~/.gitconfig:/home/ubuntu/.gitconfig:ro
      - ~/.ivy2/cache:/home/ubuntu/.ivy2/cache

      - ../tools/tts-client/tts.sh:/home/ubuntu/bin/tts:ro
      - ../commands/cc-notification:/home/ubuntu/bin/cc-notification:ro
      - ../commands/cc-stop:/home/ubuntu/bin/cc-stop:ro
      - ../commands/cc-pre-tool:/home/ubuntu/bin/cc-pre-tool:ro
    working_dir: ${PWD}
    stdin_open: true
    tty: true
    # デフォルトでbashシェルを起動
    command: ["bash"]
